body{
	font: 100% Arial, sans-serif;
	color: #000000;
	
	background-color: #DFDFFF;
	padding: 0px;
	margin: 0px;
}

#header{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 22px;
	
	background-color: rgba(0, 0, 0, 0.2);
}

#header a{
	text-decoration: none;
	color: inherit;
}

#header ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#header ul li{
	display: inline-flex;
}

#header ul img{
	border: none;
	margin: 0px 0px -8px 0px;
}

#header ul li a{
	text-align: center;
	padding: 0px 12px 4px 12px;
	margin: -8px 0px 0px 0px;
}

#header ul li a.current{
	background-color: rgba(0, 0, 0, 0.2);
}

#header ul li a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

#content{
	text-align: justify;
	margin: 24px 12px;
}

#content h1{
	margin: 0px 0px 6px 0px;
}

#content .container{
	margin: 2px;
}

#content .container label{
	text-align: right;
	vertical-align: middle;
	display: inline-block;
	width: 10em;
}

#content input[type="text"]{
	display: inline-block;
	width: 50%;
	font: inherit;
	padding: 2px 8px;
	margin: 0px;
	outline: none;
	
	border: 1px solid #F5F5F5;
	border-radius: 5px;
}

#content  input[type="text"]:focus{
	border-color: #6989E1;
}

#content input[type="submit"]{
	font: inherit;
	padding: 2px 14px;
	margin-left: -4px;
	outline: none;
	
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #F5F5F5;
	
	background-color: #F5F5F5;
	cursor: pointer;
}

#content input[type="submit"]:hover{
	background-color: #E0E0E0;
}

#content input[type="submit"]:active{
	background-color: #D5D5D5;
}

#content select{
	display: inline-block;
	font: inherit;
	padding: 2px 8px;
	margin: 0px;
	outline: none;
	
	border: 1px solid #F5F5F5;
	border-radius: 5px;
}

table, tr, td, th{
	border-collapse: collapse;
	border: 1px solid #000000;
	border-style: solid;
}

table{
	width: 100%;
	margin-top: 1em;
	border: 1px solid #000000;
}

th{
	font-weight: normal;
	font-style: italic;
	text-align: center;
}

td:first-child{
	font-weight: bold;
}

tr{
	background: #E0E0E0;
	/*word-break: break-all;*/
}

tr:nth-child(even){
	background: #D0D0D0;
}

tr:first-child{
	background: #FFFFFF;
}

#footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 22px;
	
	text-align: left;
	color: #000000;
	background-color: rgba(0, 0, 0, 0.2);
}
